In [2]:
print("Hello World")

Hello World

In [8]:
a=5
b=10
print(a+b)

15

In [5]:
a=34
b=2
print(a*b)

68

In [9]:
a=5
b=12.50
c="akshay"
print(a,b,c)
print("the datatype of a is " , type(a))
print("the datatype of b is" , type(b))
print("the datatype of c is" , type(c))

5 12.5 akshay
the datatype of a is  <class 'int'>
the datatype of b is <class 'float'>
the datatype of c is <class 'str'>

In [4]:
x=2
x=x+2
print(x)

4

In [6]:
a=50
print(a+b)

52

In [7]:
b=1234567
fname="ankit"
fname="arjun"
print(a,b)

50 1234567

In [10]:
a=5
b=12.50
c="akshay"
print(a,b,c)
print("the datatype of a is " , type(a))
print("the datatype of b is" , type(b))
print("the datatype of c is" , type(c))

5 12.5 akshay
the datatype of a is  <class 'int'>
the datatype of b is <class 'float'>
the datatype of c is <class 'str'>

In [11]:
a,b,c= "Ge-2" , 50,5.6
print(a,b,c)

Ge-2 50 5.6

In [12]:
fname="ankit"
lname="kumar"
city="delhi"
state="UP"
print(fname , lname ,city,state)

ankit kumar delhi UP

In [13]:
a="x"
print(f"{a}is defined as" , type(a))

xis defined as <class 'str'>

In [14]:
x='ab"hello"c'
print(x)
print(type(x))

ab"hello"c
<class 'str'>

In [15]:
message ="""Present day Rajasthan came into being when nineteen princely states and the two chiefdoms of Rajputana were merged together between 1948 and 1950. Added to this, in 1956, were Ajmer, Merwar and several other zones. The region has a long history, that goes as far back as the pre-historic stone ages."""
print(message)

Present day Rajasthan came into being when nineteen princely states and the two chiefdoms of Rajputana were merged together between 1948 and 1950. Added to this, in 1956, were Ajmer, Merwar and several other zones. The region has a long history, that goes as far back as the pre-historic stone ages.

In [16]:
fname="arjun"
lname="agarwal"
print(fname + lname)

arjunagarwal

In [17]:
a="welcome"
print(a)

welcome

In [18]:
x=y=z=30
print(x,y,z)

30 30 30

In [19]:
w,x,y,z=5,10,20,30
print(w,x,y,z)

5 10 20 30

In [20]:
a=5
b=-5.68
c=a+b
print(c)
print(type(c))

-0.6799999999999997
<class 'float'>

In [21]:
d=4/5
print(d)

0.8

In [22]:
a=40*1/2+4*6
print(a)
print(type(a))

44.0
<class 'float'>

In [23]:
a=b=c=20
x=y=x=5,6,7
print(x,y,z)
print(type(x))
print(a,b,c)
print(type(a))

(5, 6, 7) (5, 6, 7) 30
<class 'tuple'>
20 20 20
<class 'int'>

In [24]:
x=5.6
y=2
c=x/y
print(c)
print(type(c))

2.8
<class 'float'>

In [25]:
a=5
b="keshav"
x=b+str(a)
print(x)
print(type(x))

keshav5
<class 'str'>

In [26]:
a="akshay"
b=5
print(str(b)+a)

5akshay

In [27]:
x=5
y=10
print(x+y)

15

In [28]:
x=10
y=5.5
print(x-y)

4.5

In [29]:
a=input("Enter your lucky number: ")
b=input("Enter your age: ")
c=input("Enter your percentage of class 12th: ")
print(a,b,c)

Enter your lucky number: 8
Enter your age: 18
Enter your percentage of class 12th: 98
8 18 98

In [30]:
#program to find the sum of 3 numbers 
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
d=a+b+c
print(f"The sum of three numbers is {d}")

Enter first number: 23
Enter second number: 22
Enter third number: 44
The sum of three numbers is 89

In [31]:
#program to find the average sum of 3 numbers 
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
d=(a+b+c)/37
print(f"The sum of three numbers is {d}")

Enter first number: 33
Enter second number: 66
Enter third number: 88
The sum of three numbers is 5.054054054054054

In [32]:
import math
print(math.pi)

3.141592653589793

In [33]:
from math import pi
print(pi)

3.141592653589793

In [34]:
x=55
y=4
print(x/y)    #Floating divion
print(x//y)    #integer divison

13.75
13

In [35]:
x=5
y=3
z=2
print(x**y**z)

1953125

In [36]:
x=50
y=50
print(x!=y)   #not equals to

False

In [37]:
x=True
y=False
print(x and y)

False

In [38]:
x=True
print(not x)
print(x==False)

False
False

In [39]:
fname="ayush"
lname="kumar"
fname=5
print(fname)

5

In [40]:
x=False
y=False
z=False
print(x or y or z)

False

In [41]:
x=500
y=50
z=0
print(x or y and z)

500

In [42]:
x=50
print(not x)

False

In [43]:
x="ankit"
y="kumar"
print(x or y)

ankit

In [44]:
x=12 
d=x>>2
print(d)

3

In [45]:
x=156
y=38
print(x & y)

4

In [46]:
x=156
y=38
print(x|y)

190

In [47]:
x=-13
print(~x)

12

In [48]:
x=9
print(~x)

-10

In [49]:
x=0
print(~x)

-1

In [50]:
x=20
print(~x)

-21

In [51]:
x=5
x+=10     #x=x+10
print(x)

15

In [52]:
x=9
x-=7    #x=x-7
print(x)

2

In [53]:
x=10
x//=3
print(x)

3

In [54]:
x=10
x%=3
print(x)

1

In [55]:
x=5
y=[2,3,4,5]   #list
print(id(x))
print(id(y))
print(x is y)

2254523990384
2254604088704
False

In [56]:
x=5 
y=5 
print(y is x)

True

In [57]:
x=[1,2,3]
y=[1,2,3]
print(id(x))
print(id(y))
print(x is y)

2254604337920
2254604085952
False

In [58]:
x=(1,2,3)
y=[3,4,5]
z=7
print(id(x))
print(id(y))
print(id(z))
print(x is z)
print(y is x)

2254604236096
2254604343040
2254523990448
False
False

In [59]:
x="Hello world"
print("Hello" not in x)

False

In [60]:
#using a list in a list 
x=[1,2,3,4,[2,3,4],5,6 , [8,9],10,11]
y=[8,9]
print(y not in x)
print(y in x)

False
True

In [61]:
a= 5
a=a+2
print(a)

7

In [64]:
#using split(" ")  for splitting the numbers  like example  # 15 , 23  , 46
x , y, z=input("Enter three numbers seperated by commas, enter now: ").split(",")
print(x)
print(y)
print(z)

Enter three numbers seperated by commas, enter now: 2

ValueError: not enough values to unpack (expected 3, got 1)

In [66]:
x,y,z=10,20,30
d=(x+y+z)/3
print(f"The average of three numbers is {d}")

The average of three numbers is 20.0

In [67]:
x=input("Enter one number: ")
print(x)

Enter one number: 23
23

In [70]:
x,y,z=input("Enter three numbers seperated by #,enter now: ").split("#")
print(x)
print(y)
print(z)

Enter three numbers seperated by #,enter now: 22 # 44 #66
22
 44
66

In [71]:
list_1=[1,3,5.6,"a","Ramunjan",0.4]
print(list_1[1:5])     #slicing 1st to 5th element
print(list_1[:])       #getting the entire list
print(list_1[2:5])    #slicing 2nd to 5th element
print(list_1[-2:-1])   #slicing last 2nd to last  1st element
print(list_1[-5:-2])    #slicing last 5th to last 2nd element 
print(list_1[:2])      #slicing all elements till 2nd one
print(list_1[:-2])      #slicing all elements till last 2nd one
print(list_1[-3:])     #slicing all elements after last 3rd one

[3, 5.6, 'a', 'Ramunjan']
[1, 3, 5.6, 'a', 'Ramunjan', 0.4]
[5.6, 'a', 'Ramunjan']
['Ramunjan']
[3, 5.6, 'a']
[1, 3]
[1, 3, 5.6, 'a']
['a', 'Ramunjan', 0.4]

In [72]:
list_2=[3,5.7,'y','python',67,7.9]
print(list_2[1:5])
print(list_2[2:])
list_2[2]=3.8   #reassigning the value to the 2nd element of the list 
print(list_2[:])
print(list_2[-5:-2])  
del list_2[3]   #deleting 3rd elememt from the list
print(list_2)

[5.7, 'y', 'python', 67]
['y', 'python', 67, 7.9]
[3, 5.7, 3.8, 'python', 67, 7.9]
[5.7, 3.8, 'python']
[3, 5.7, 3.8, 67, 7.9]

In [73]:
list_3=[1,2,'p']
print(list_3)

del list_3   #deleting the entire list
print(list_3)

[1, 2, 'p']

NameError: name 'list_3' is not defined

In [74]:
list_1=[1,9.0,'t',4.5]
list_2=['a',5.9]
list_2*3
print(list_1[3])
print(f"The type of list_1 is :{type(list_1)}")
print(f"The type of list_1 is :{type(list_2)}")

4.5
The type of list_1 is :<class 'list'>
The type of list_1 is :<class 'list'>

In [75]:
#Tupples 
tup=(1,2,'a',4.5,[9,0,7],('r','w'))
print(f"The type of tup is :{type(tup)}")

The type of tup is :<class 'tuple'>

In [76]:
tup2=(2)
print(f"The type of tup2 is :{type(tup2)}")

The type of tup2 is :<class 'int'>

In [77]:
tup3=(2,)
print(f"The type of tup3 is :{type(tup3)}")

The type of tup3 is :<class 'tuple'>

In [78]:
tup1=(1,2,3,'a','o',[2,3,4.9],'q')
print(tup1[5])  #aacessing the 5th element
print(tup1[0])   #accessing the 1st element
print(tup[-5:-2])  #accessing thr last 5th to 2nd value
tup1[4]
print(tup1[2:9])

print(tup1[2])

[2, 3, 4.9]
1
(2, 'a', 4.5)
(3, 'a', 'o', [2, 3, 4.9], 'q')
3

In [79]:
tup1=(1,2,3,44)
tup1=tup1 +('a','c','o',44)
print(tup1)

(1, 2, 3, 44, 'a', 'c', 'o', 44)

In [80]:
tup=(1,'a',7.6,'saa','rose',99,9.78)
print(id(tup[0])==id(tup[1]))  #1st  and 2nd elements have different values
print(id(tup[2])==id(tup[5]))  #3rd and 6th elements have different values

False
False

In [81]:
tup=(1,2,3,4.5,'a',[2,3,4,5])
tup[-1].append(4.5)
print(tup)

(1, 2, 3, 4.5, 'a', [2, 3, 4, 5, 4.5])

In [82]:
tup=(1,2,3,4,5,6,'a','opoes',[2,3,4,6.5])
list1=list(tup)
list1[4]=6.5
print(list1)

[1, 2, 3, 4, 6.5, 6, 'a', 'opoes', [2, 3, 4, 6.5]]

In [83]:
set={1,2,3,'a','lol',5.5,9,8.7}
print(f"The type of set is :{type(set)}")

The type of set is :<class 'set'>

In [84]:
set1={9.9,99,'aaradhya','ayaan',77,83,(2,3,4.4,5.5)}
print(f"The type of set1 is :{type(set1)}")

The type of set1 is :<class 'set'>

In [85]:
dic={1:'a',4:'t',8:9}  #first the keys the the values
print(dic)
print(f"The type of dic is :{type(dic)}")

print(dict)

{1: 'a', 4: 't', 8: 9}
The type of dic is :<class 'dict'>
<class 'dict'>

In [86]:
dict1={'a':7,'e':4,"y":6,"ab":10,"z":9}
dict1["ab"]=15
print(dict1)

{'a': 7, 'e': 4, 'y': 6, 'ab': 15, 'z': 9}

In [87]:
dict1={1:'a',2:'e',3:'w',4:'o',5:'u'}
print(dict1.get(4))
print(dict1.keys())
print(dict1.values())

o
dict_keys([1, 2, 3, 4, 5])
dict_values(['a', 'e', 'w', 'o', 'u'])

In [88]:
x="ankiy"
y="ayush"
print(x and y)

ayush

In [89]:
x=12  # converting the deciaml digit into binary digit
print(x<<4)

192

In [90]:
x=10
y=20
x==y

False

In [91]:
x<y

True

In [92]:
z=(x==y)
if z:
  print("True")
else:
  print("False")

False

In [93]:
i=10
type(i)

int

In [94]:
i=10.0
type(i)

float

In [95]:
i="a"
type(i)

str

In [96]:
i="Hello"
type(i)

str

In [97]:
bw="Hello  World"
print(bw)

Hello  World

In [98]:
x=[1]
type(x)

list

In [99]:
y=[1,2,3]
type(y)

list

In [100]:
z=list([1,2,3])
type(z)

list

In [101]:
print(z[2])

3

In [102]:
stack=[1,2,3,4,5]
stack.append(10)
print(stack)

[1, 2, 3, 4, 5, 10]

In [103]:
stack.pop()
stack.pop()
stack.pop()
stack.pop()

3

In [104]:
print(stack)

[1, 2]

In [105]:
queue=[1,2,3,4,5]
queue.append(7)
queue
queue.pop(0)
queue

[2, 3, 4, 5, 7]

In [106]:
x=[1,2,3,4,5]
y=("a","b","c","d")
x[0]

1

In [107]:
x[2]=10
x

[1, 2, 10, 4, 5]

In [108]:
x={"a":1 , "b":2,"c":3,"d":4}
del x["c"]

In [109]:
x.keys()

dict_keys(['a', 'b', 'd'])

In [110]:
x.values()

dict_values([1, 2, 4])

In [111]:
f=open("claims.csv","w")
f.write("Test")
f.close()
f

In [112]:
f=open("claims.cts.txt","r")
print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'claims.cts.txt'

In [116]:
a="foo"
print(id(a))

a+= "tball"
print(id(a))

2254575107248
2254604469104

In [117]:
x=12
print(x)

12

In [118]:
a=10
b=20
if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

b is greater than a

In [119]:
a=100
b=20
if b > a:
  print("b is greater than a")
elif b==a :
  prinht("a  and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [120]:
a=20
b=3
c=5
if a > b and a>c: 
  print("Both conditions are true")

Both conditions are true

In [121]:
a=20
b=3
c=500
if a>b or b> c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [122]:
x=40
if x>10 :
  print("Abova ten")
elif x>20:
  print("Above twenty")
else:
  print("but not above 20")

Abova ten

In [123]:
first_name="albert"
last_name="einstein"
full_name=first_name +  last_name
print(full_name)

alberteinstein

In [125]:
alien={"color":"green" , "points": 5}
print("The alien's color is " + alien["color"])

The alien's color is green

In [126]:
alien["x_position"]=0  #adding x_positiin at the end
print(alien)

{'color': 'green', 'points': 5, 'x_position': 0}

In [127]:
fav_numbers={"eric":17 , "ever":4}
for name, number in fav_numbers.items():
  print(name + " loves " + str(number))

eric loves 17
ever loves 4

In [128]:
squares=[x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [129]:
bikes=["trek" , "redline" , "giant"]
for i in bikes:
 print(i)

trek
redline
giant

In [130]:
squares=[]
for x in range(1,11):
  squares.append(x**2)
  print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [131]:
finishers=["sam" , "bob" , "ada","bea"]
first_two= finishers[:2]
print(first_two)

['sam', 'bob']

In [132]:
name=input("What is your name?")
print(f"Hello, {name}")

What is your name?Aradhya
Hello, Aradhya

In [133]:
age=input("What is your age?")
age=int(age)
pi=input("What's the value of pi?")
pi=float(pi)

What is your age?33
What's the value of pi?3.14

In [134]:
current_value=1
while current_value <= 5:
  current_value+=1
  print(current_value)

2
3
4
5
6

In [136]:
msg=""
while msg!= "quit":
  msg=input("What is your message? ")
  print(msg)

What is your message? quit
quit

In [137]:
def greet_user():
  #""Display a simple greeting."""
  print("Hello!")

greet_user()

Hello!

In [140]:
def greet_user(username):
  """Display a personalised greeting."""
  print("Hello "+ username +"!")

greet_user("Aaradhya")

Hello Aaradhya!

In [141]:
def make_pizza(topping ="baricon"):
  """Make  a single topping pizza."""
  print("Have a " +topping+ " pizza")
make_pizza()
make_pizza("capcicum")

Have a baricon pizza
Have a capcicum pizza

In [142]:
def add_numbers(x,y):
  """Add two numbers  and return the sum."""
  return x+y
sum= add_numbers(3,5)
print(sum)

8

In [143]:
prompt=input("How many tickets do you want? ")
num_ticktes=int(prompt)
try: num_ticktes=int(num_ticktes)
except valueerror :print("Please try again")
else:
  print("Your tickets are printing")

How many tickets do you want? 3
Your tickets are printing

In [144]:
for number in range (1001):
  print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [145]:
numbers=list(range(1,20))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [146]:
ages=[93,99,99,88,77,66,2,3,4]
youngest=min(ages)
eldest=max(ages)
print(youngest)
print(eldest)

2
99

In [147]:
squares1=[]
for x in range(1,11):
  squares=x**2
  squares1.append(squares)
  print(squares)
  print(squares1)

1
[1]
4
[1, 4]
9
[1, 4, 9]
16
[1, 4, 9, 16]
25
[1, 4, 9, 16, 25]
36
[1, 4, 9, 16, 25, 36]
49
[1, 4, 9, 16, 25, 36, 49]
64
[1, 4, 9, 16, 25, 36, 49, 64]
81
[1, 4, 9, 16, 25, 36, 49, 64, 81]
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [148]:
names=["kai","aba0","gag","lel"]
upper_names=[]
for name in names:
  upper_names.append(name.upper())
  print(upper_names)

['KAI']
['KAI', 'ABA0']
['KAI', 'ABA0', 'GAG']
['KAI', 'ABA0', 'GAG', 'LEL']

In [149]:
names=["kai","aba0","gag","lel"]
upper_names=[]
for name in names:
  upper_names.append(name.upper())
print(upper_names)

['KAI', 'ABA0', 'GAG', 'LEL']

In [150]:
aline_0={"color":"red" , "points" :8}
print(aline_0["color"])
print(aline_0["points"])

red
8

In [151]:
users=[]  #embedding a dictionary into a list
new_user={"last":"currie", "first":"marrie" , "username":"mcurrie"}
users.append(new_user)
print(users)

[{'last': 'currie', 'first': 'marrie', 'username': 'mcurrie'}]

In [152]:
for user_dict in users:
  for k, v in user_dict.items():
    print(k + ":" +v)
  print("\n")

last:currie
first:marrie
username:mcurrie

In [153]:
for user_dict in users:
  for k, v in user_dict.items():
    print(k + ":" +v)
    print("\n")

last:currie


first:marrie


username:mcurrie

In [154]:
fav_languages={"jen":["python","ruby"], "sarah":["c"], "edward":["ruby","go"] , "phil":["puython","haskell"]}
for name, lange in fav_languages.items():
  print(name + ":")
  for lang in lange:
    print("-" + lang)

jen:
-python
-ruby
sarah:
-c
edward:
-ruby
-go
phil:
-puython
-haskell

In [155]:
car="bmw"
car=="bmw"  #Checking condition

True

In [156]:
car=="audi"
car.lower()=="bmw"

True

In [157]:
age=12
if age <4:
  price=0
elif age < 18:
  price= 5
else :
  price= 10
print(f"Your cost is $ {price}")

Your cost is $ 5

In [158]:
players=["ali","jsmine","shefali","shehnaaz"]
"ali" in players
"shefali" in players
"roshni" in players

False

In [159]:
banned_users=["ann","harry","eric","lara"]
user="mehak"
if user not in banned_users:
  print("You can play!")

You can play!

In [160]:
players=['ashi','aliza','vanshu','cary']
if players:
  for player in players :
    print(f"Players {player.title()} ")
  else:
    print("We have no players yet.")

Players Ashi
Players Aliza
Players Vanshu
Players Cary
We have no players yet.

In [161]:
age=int(input("What is your age? :"))
if age >= 18:
  print("You can vote.")
else:
  print("You can't vote.")

What is your age? :18
You can vote.

In [ ]:
prompt="\nTell me something , and I'll"
prompt+="repeat it back to you"
prompt+= "\nEnter 'quit' to end the program :"
active = True
while active:
  messgae = input(prompt)
  if message =="quit":
    active= False
  else:
    print(message)

Tell me something , and I'llrepeat it back to you
Enter 'quit' to end the program :quit
Present day Rajasthan came into being when nineteen princely states and the two chiefdoms of Rajputana were merged together between 1948 and 1950. Added to this, in 1956, were Ajmer, Merwar and several other zones. The region has a long history, that goes as far back as the pre-historic stone ages.

Tell me something , and I'llrepeat it back to you
Enter 'quit' to end the program :quit
Present day Rajasthan came into being when nineteen princely states and the two chiefdoms of Rajputana were merged together between 1948 and 1950. Added to this, in 1956, were Ajmer, Merwar and several other zones. The region has a long history, that goes as far back as the pre-historic stone ages.

In [ ]:
prompt="\nWhich cities  have you visited? "
prompt+="\nEnter quit when you are done. "
while True:
  city=input(prompt)
  if city=="quit":
    break
  else:
    print("I've een to " + str(city) +"!" )

In [ ]:
banned_users=["lai","alzagr","kapil","alia","kiara"]
prom="\nAdd a player to your team."
prom+="\nEnter 'quit' when you are done"
players=[]
while True:
  player = input(prom)
  if player =="quit":
    break
  elif player in banned_users:
    print(f"{player} is banned , You can't play.")
  else:
    print("\nYour team: ")
    for player in players :
      print(player)

In [ ]:
def greet_user(username):
  """Display a simple greeting"""
  print("Hello," + username +"!")
    
greet_user("jesse")

In [ ]:
def describe_pet(animal, name):
  """Display infromion about  a prt."""
  print("\nI have  a "+animal +".")
  print("Its name is "+ "harry" +"." )
describe_pet("dog","derry")

In [ ]:
def describe_pet(animal, name):
  """Display infromion about  a prt."""
  print("\nI have  a "+ animal +".")
  print("Its name is "+ name +"." )
describe_pet("hamster","harry")
describe_pet("dog","jerry")

In [ ]:
def describe_pet(animal , name=None):
  """Display information about a pet"""
  print("\nI have a " + animal + ".")
  if name :
    print("It's name is " name + ".")
describe_pet("dog")

In [ ]:
def get_full_name(first , last):
  """Return a neatly formatted full name."""
  full_name=first + " " +last
  return full_name.title()

musician=get_full_name("jimi","hendrix")
print(musician)

In [ ]:
def describe_pet(animal,name):
  #"""Display information about a pet ."""
  print(f"I have a {animal}")
  print(f"It's name is {name}")

describe_pet("dog","jeery")

In [ ]:
def describe_pet(animal,name):
  """Display information about a pet ."""
  print(f"I have a {animal}")
  print(f"It's name is {name}")
describe_pet(name="jeery",animal="dog")

In [ ]:
def describe_pet(name,animal="dog"):
  """Display information about a pet ."""
  print(f"I have a {animal}")
  print(f"It's name is {name}")
describe_pet("harry","hamster")

In [3]:
def describe_pet(animal,name=None):
  """Display information about a pet ."""
  print(f"I have a {animal}")
  if name:
    print(f"It's name is {name}")
describe_pet("snake")

I have a snake

In [4]:
def get_full_name(first,last):
  """Resturn a nestly formatted full name."""
  full_name=first + " "+ last
  return full_name.title()
mus=get_full_name("petrick","winslow")
print(mus)

Petrick Winslow

In [5]:
def build_person(first , last):
  """Return a dictionay of information about a person."""
  person={"first":first , "last" :last}
  return person
mus=build_person("aaradhya","arneja")
print(mus)

{'first': 'aaradhya', 'last': 'arneja'}

In [ ]:
def build_person(first ,last , age=None):
  """Return a dictionay of information about a person."""
  person={"first":first , "last" :last}
  if age :
    person["age"]=age
    return person
mus=build_person("javed","akhtar",44)
print(mus)

In [ ]:
def greet_user(names):
  """Print a simple greeting to everyone."""
  for name in names:
    msg="Hello, "+ name +"!"
    print(msg)
username=["hanah","juhi","lara"]
greet_user(username)

In [ ]:
def print_model(umprinted,printed):
  """3rd print a set of modesls."""
  while unprinted:
    current_model=unprinted.pop()
    print("Printing " + current_model)
    printed.append(current_model)
unprinted=["phone case","pendant","ring"]
printed=[]
print_model(unprinted,printed)
print("\nUnprinted",printed)
print("Prinetd",printed)

In [2]:
def print_models(unprinted,printed):
  """3rd print a set of modesls."""
  while unprinted:
    current_model=unprinted.pop()
    print("Printing " + current_model)
    printed.append(current_model)
original=["phone case", "pendant","ring","bracelet"]
printed=[]
print_models(original[:],printed)
print("\noriginal:",printed)
print("Printed",printed)

Printing bracelet
Printing ring
Printing pendant
Printing phone case

original: ['bracelet', 'ring', 'pendant', 'phone case']
Printed ['bracelet', 'ring', 'pendant', 'phone case']

In [1]:
def make_pizza(size, toppings):
  """Make a pizza."""
  print("Making a " + size +" pizza")
  print("toppings:")
  for topping in toppings:
    print("-" + topping)
make_pizza("small","pepricorn")
make_pizza("large","olives")

Making a small pizza
toppings:
-p
-e
-p
-r
-i
-c
-o
-r
-n
Making a large pizza
toppings:
-o
-l
-i
-v
-e
-s